:root {
	/* Colors */
	--color-bg-blue: #EDF3F8;
  --color-juan-blue: #36536b;
  --color-dark-pink: #ba4270;
  --color-charm-pink: #da6d97;
  --color-water-white: #fbfcfe;
  --color-mirage-blue: #1b262f;
  --color-light-juan-blue: #6c8294;

	/* Typography */
  --font-family-sans: 'Public Sans', sans-serif;
  --font-family-serif: 'DM Serif Display', serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-mid: 500;
  --weight-bold: 700;

  /* Design Elements */
  --transition: 300ms ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-family-sans);
  background-color: var(--color-bg-blue);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

.button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.button--cta {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.7rem;
  padding-top: 1.6rem;
  border-radius: 2.4rem;
  padding-bottom: 1.5rem;
  letter-spacing: -.12px;
  color: var(--color-water-white);
  font-weight: var(--weight-bold);
  font-family: var(--font-family-sans);
  background-color: var(--color-dark-pink);
}